* {
  margin: 0;
  padding: 0;
}
html {
  font-size: 100%;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $DarkBlue;
  color: $White;
}

h1,
h2,
h3,
h4 {
  font-family: 'Bellefair', serif;
  font-weight: 400;
  
}

h5,
p {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
}

h1 {
  font-size: $font-XXlarge;
}
h2 {
  font-size: $font-Xlarge;
}
h3 {
  font-size: $font-large;
}
h4 {
  font-size: $font-big;
}
h5 {
  font-size: $font-med;
  letter-spacing: $h5spacel;
}

p {
  letter-spacing: $navText;
}

a,
a:visited,
a:hover {
  text-decoration: none;
  color: $White;
}

ul,
ol,
li {
  list-style: none;
}

.hideScroll {
  max-width: 100%;
  overflow-y: hidden;
}

  
.off {
  display: none;
}