.navContainer {
  display: relative;

  .overLay {
    position: absolute;
    height: 100%;
    width: 68%;
    top: 0;
    right: 0;
    z-index: 2;
    background: $DarkBlue;
    opacity: 0.7;
    filter: blur(13px);
  }

  .navigation {
    position: fixed relative;
    top: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 10vh;
    font-size: $font-smal;
    letter-spacing: $navText;
    font-family: 'Barlow Condensed', sans-serif;
    font-weight: 400;

    .menuIcon{
      position: absolute;
      right: 24px;
      top: 33px;
      z-index: 5;
    }
  
    .iconLogo {
      position: absolute;
      padding-top: 24px;
      padding-left: 24px;
      z-index: 5;
    }
    
    #menuList {
      position: absolute;
      width: 50%;
      top: 121px;
      left: 153px;
      z-index: 5;
      padding: 0;
      margin: 0;

      li:not(:last-child) {
        margin-bottom: 40px;
        background-color: $DarkBlue;
      }

      li {
        span {
          font-weight: 600;
        }
      }
    }
  }
}
