// Fonts
// imports
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed&family=Bellefair&display=swap');
    // sizes
    // html FontSize 100%;
    $font-Xsmal: 0.875rem; // 14px
    $font-smal: 1rem; // 16px
    $font-med: 1.75rem; // 28px
    $font-big: 2rem; // 32px
    $font-large: 3.5rem; // 56px
    $font-Xlarge: 6.25rem; // 100px
    $font-XXlarge: 9.375rem; //150px
    // character-spacing
    $subHeading: 0.1469rem; // 2.35px
    $navText: 0.1688rem; // 2.7px
    $h5spacel: 0.2969rem; // 4.75px

// Colors
$DarkBlue: hsl(230,35%, 7%); 
$DarkBlueA: rgba(89, 93, 112, 0.904);
$TransparentDarkBlue: rgba(12, 14, 24, 0.774); 
$LightGrey: hsl(231, 77%, 90%);
$White: hsl(0, 0%, 100%);